$bps: (
    mobileUp: 361px,
    twoCol: 700px,
    tabletUp: 768px,
    desktopUp: 1072px,
    designMax: 1380px
);

$color: (
    white: #FFFFFF,
    dark: #4E4B56,
    med: #8A9AA3,
    light: #F5F5F5,
    light-feature: #86608E,
    dark-feature: #663854
);